integracoes/n8n_validador_workflow.json
{
  "name": "Validador de Pedidos GoCase",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Validador de Pedidos GoCase",
        "formDescription": "Suba a planilha de pedidos (.xlsx). Os rejeitados passam por uma tentativa de correção automática por IA.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "arquivo",
              "fieldType": "file",
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "c1a1a111-1111-4111-8111-111111111111",
      "name": "Upload da planilha",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "validador-gocase-form"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://validador-pedidos-gocase.onrender.com/validar",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "arquivo",
              "inputDataFieldName": "arquivo"
            }
          ]
        },
        "options": {}
      },
      "id": "c2a2a222-2222-4222-8222-222222222222",
      "name": "POST /validar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "leftValue": "={{ $json.resumo.total_rejeitados }}",
              "rightValue": 0,
              "operator": {"type": "number", "operation": "gt"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3a3a333-3333-4333-8333-333333333333",
      "name": "Tem rejeitados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://validador-pedidos-gocase.onrender.com/corrigir-automatico",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ job_id: $json.job_id }) }}",
        "options": {}
      },
      "id": "c4a4a444-4444-4444-8444-444444444444",
      "name": "IA corrige rejeitados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://validador-pedidos-gocase.onrender.com/download/{{ $json.job_id || $('POST /validar').item.json.job_id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "relatorios"
            }
          }
        }
      },
      "id": "c5a5a555-5555-4555-8555-555555555555",
      "name": "Baixar relatórios (.zip)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary",
        "inputDataFieldName": "relatorios",
        "completionTitle": "Relatórios prontos",
        "completionMessage": "Validação concluída — o download do .zip começou.",
        "options": {}
      },
      "id": "c6a6a666-6666-4666-8666-666666666666",
      "name": "Baixar no navegador",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [1340, 300],
      "webhookId": "validador-gocase-form"
    }
  ],
  "connections": {
    "Upload da planilha": {
      "main": [[{"node": "POST /validar", "type": "main", "index": 0}]]
    },
    "POST /validar": {
      "main": [[{"node": "Tem rejeitados?", "type": "main", "index": 0}]]
    },
    "Tem rejeitados?": {
      "main": [
        [{"node": "IA corrige rejeitados", "type": "main", "index": 0}],
        [{"node": "Baixar relatórios (.zip)", "type": "main", "index": 0}]
      ]
    },
    "IA corrige rejeitados": {
      "main": [[{"node": "Baixar relatórios (.zip)", "type": "main", "index": 0}]]
    },
    "Baixar relatórios (.zip)": {
      "main": [[{"node": "Baixar no navegador", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "pinData": {}
}
