integracoes/n8n_correcao_ia_workflow.json
{
  "name": "Validador GoCase - Correção por IA",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Validador + Correção por IA",
        "formDescription": "Suba a planilha. A IA tenta recuperar os pedidos rejeitados.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "arquivo",
              "fieldType": "file",
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "d1a1a111-1111-4111-8111-111111111111",
      "name": "Upload da planilha",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [220, 300],
      "webhookId": "validador-gocase-ia-form"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://validador-pedidos-gocase.onrender.com/validar",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "arquivo",
              "inputDataFieldName": "arquivo"
            }
          ]
        },
        "options": {}
      },
      "id": "d2a2a222-2222-4222-8222-222222222222",
      "name": "POST /validar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "leftValue": "={{ $json.resumo.total_rejeitados }}",
              "rightValue": 0,
              "operator": {"type": "number", "operation": "gt"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3a3a333-3333-4333-8333-333333333333",
      "name": "Tem rejeitados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://validador-pedidos-gocase.onrender.com/corrigir-automatico",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ job_id: $json.job_id }) }}",
        "options": {}
      },
      "id": "d4a4a444-4444-4444-8444-444444444444",
      "name": "IA corrige (servidor)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8a8a888-8888-4888-8888-888888888888",
              "name": "mensagem",
              "type": "string",
              "value": "=Correção por IA: recuperados {{ $json.recuperados }} de {{ $json.rejeitados_antes }} rejeitados. Restam {{ $json.rejeitados_depois }}. Válidos agora: {{ $json.resumo.total_validos }}."
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d9a9a999-9999-4999-8999-999999999999",
      "name": "Resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 220]
    },
    {
      "parameters": {
        "url": "=https://validador-pedidos-gocase.onrender.com/download/{{ $json.job_id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "relatorios"
            }
          }
        }
      },
      "id": "dabaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Baixar relatórios (.zip)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary",
        "inputDataFieldName": "relatorios",
        "completionTitle": "Relatórios prontos",
        "completionMessage": "Validação e correção concluídas — o download do .zip começou.",
        "options": {}
      },
      "id": "dbcbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Baixar no navegador",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [1540, 300],
      "webhookId": "validador-gocase-ia-form"
    }
  ],
  "connections": {
    "Upload da planilha": {
      "main": [[{"node": "POST /validar", "type": "main", "index": 0}]]
    },
    "POST /validar": {
      "main": [[{"node": "Tem rejeitados?", "type": "main", "index": 0}]]
    },
    "Tem rejeitados?": {
      "main": [
        [{"node": "IA corrige (servidor)", "type": "main", "index": 0}],
        [{"node": "Baixar relatórios (.zip)", "type": "main", "index": 0}]
      ]
    },
    "IA corrige (servidor)": {
      "main": [[{"node": "Resultado", "type": "main", "index": 0}]]
    },
    "Resultado": {
      "main": [[{"node": "Baixar relatórios (.zip)", "type": "main", "index": 0}]]
    },
    "Baixar relatórios (.zip)": {
      "main": [[{"node": "Baixar no navegador", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "pinData": {}
}
