integracoes/n8n_validador_workflow.json
{
  "name": "Validador de Pedidos GoCase",
  "nodes": [
    {
      "parameters": {},
      "id": "b1a1a111-1111-4111-8111-111111111111",
      "name": "Início (troque pelo seu gatilho)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "filePath": "=/caminho/para/pedidos_entrada.xlsx",
        "dataPropertyName": "arquivo"
      },
      "id": "b2a2a222-2222-4222-8222-222222222222",
      "name": "Ler arquivo (ou receber do gatilho)",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://SEU_SERVIDOR:8000/validar",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "arquivo",
              "inputDataFieldName": "arquivo"
            }
          ]
        },
        "options": {}
      },
      "id": "b3a3a333-3333-4333-8333-333333333333",
      "name": "POST /validar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "leftValue": "={{ $json.resumo.total_rejeitados }}",
              "rightValue": 0,
              "operator": {"type": "number", "operation": "gt"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4a4a444-4444-4444-8444-444444444444",
      "name": "Tem rejeitados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Início (troque pelo seu gatilho)": {
      "main": [[{"node": "Ler arquivo (ou receber do gatilho)", "type": "main", "index": 0}]]
    },
    "Ler arquivo (ou receber do gatilho)": {
      "main": [[{"node": "POST /validar", "type": "main", "index": 0}]]
    },
    "POST /validar": {
      "main": [[{"node": "Tem rejeitados?", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "pinData": {}
}
